body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: white;
}

/* a:hover {
  background-color: grey;
} */

a:active {
  color: grey;
}

.variable-name {
  font-weight: bold;
  color: #555;
  /* A darker shade for variable names */
}

.variable-value {
  font-weight: normal;
  color: #000;
  /* A standard color for text, typically black for high contrast */
}

/* Additional style for your D3 labels if needed */
.d3-label {
  font-weight: normal;
  color: white;
}

h3 {
  font-size: 1.5em;
}