.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  text-align: left;
  background-color: #282c34;
}

.AppHeader {
  height: 90px;
  display: flex;
  background-color: black;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  color: white;
  padding: 0.5rem 1rem;
  flex-wrap: wrap;
}

/* Center "Ask Network" on larger devices */
@media (min-width: 768px) {

  /* Adjust the min-width as needed for your layout */
  .AppHeader {
    justify-content: center;
    /* Center the items */
  }

  .AppHeader::before,
  .AppHeader::after {
    content: '';
    display: block;
    flex: 1;
  }

  .AppHeader>span {
    flex: 0 0 auto;
    /* Ensure the title doesn't grow or shrink */
  }
}

.AppBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  padding-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  background: #f2f2f2;
}

.formField {
  margin: 10px 0 10px 0;
  min-width: 500px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

.formButton {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}